.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 10px; /* Ajuste l'espace entre les cartes */
  padding: 0;
}

.card {
  margin: 0;
  padding: 15px;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.card::before,
.card::after {
  content: none !important;
  display: none !important;
}
