<div class="lst-res">
  <div class="card-body">
    <p><strong>Nom :</strong> {{ theRes.nomClient }}</p>
    <p><strong>Email :</strong> {{ theRes.emailClient }}</p>
    <p><strong>Date de reservation :</strong> {{ theRes.dateReservation| date:'dd/MM/yyyy' }}</p>
    <p><strong>Jeu :</strong> {{ theRes.titreJeu }}</p>
    <p><strong>Plateforme du jeu :</strong> {{ theRes.plateformeJeu }}</p>
  </div>
  <div class="card-footer">
    <button class="btn btn-primary" (click)="onUpdate()">Modifier</button>
    <button class="btn btn-danger" (click)="onDelete()">Annuler</button>
  </div>
</div>
