.navbar {
  background: thistle;
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.brand-logo {
  color: purple;
  font-size: 1.8rem;
  text-decoration: none;
  font-weight: bold;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
}

.nav-item {
  color: purple;
  text-decoration: none;
  font-size: 1.2rem;
  transition: color 0.3s;
}

.nav-item:hover {
  color: blueviolet;
}

@media (max-width: 768px) {
  .nav-links {
    flex-direction: column;
    text-align: center;
    padding-top: 10px;
  }
}
